/*
MIU 1306
Project 2
Peter Hitchcok
June 13, 2013
*/
/*
#feature {

    margin: 0 auto;
    padding: 20px;
    position: relative;
    height:px;
}

#feature h3 {
    
    position: absolute;
    z-index: 90;
    bottom: 120px;
    left: 40px;
}


#btn { 
    position: absolute;
    left: 75px;
    top: 125px;
}

#canvas{
    
}

.ui-listview-filter-inset {
    margin-top: 0;
}

*/

label.error{
    display: block;
    margin: 10px 0 0 ;
    color: red;
}



